/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* app body css and layout */
  body { 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/sunny_scaled.jpg");  
  }
  
    /* app background and skeleton */
  .app { 
    width: 300px;
    height: max-content;
    min-height: 300px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 30px 50px #555355 ;
    padding: 30px;
  }

   /* form styling  */
  .app form {
    border:  1px solid #555355;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
  }

  .app form input,
  .app form button  {
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
  }

  .app form i {
    opacity: 0.7;
  }


  /* results and description styling  */
  .app .result {
    padding-top: 20px;
    text-align: center;
  }

  .app .result .name {
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .app .temp img {
    width: 150px;
    filter: drop-shadow(
      0 10px 150px #000
    );
  }

  .app .temp figcaption{
    font-size: 3em;
  }

  .app .description {
    padding: 10px 0 30px;
  }

  /* the list of info styling  */
  .app ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 0;
  }

  .app li {
    background-color: #313C46;
    border-radius: 10px;
    color: white;
    padding: 20px 10px;
    background-image: linear-gradient(
      to bottom, 
      transparent 50%,
      #0004 50%
    );
    font-weight: bold;
    font-size: small;
  }
  .app li i {
    font-size: 2em;
    display: block!important;
    margin: 20px 0;
  }

    /* change colours of each list item  */
  .app li:nth-child(2){
    background-color:rgb(178, 178, 247)  ;
  }
  .app li:nth-child(3){
    background-color: rgb(60, 60, 248) ;
  }

